.div1{
    height: 300px;
    width: 75vw;
    background-color: grey;
    position: absolute;
    left: 12.5vw;
    top: 100px;
}
.div2{
    height: 200px;
    width: 200px;
    background-color: black;
    position: absolute;
    left: 20vw;
    top: 150px;
    color: white;
}
.div3{
    height: 200px;
    width: 200px;
    background-color: black;
    position: absolute;
    right: 20vw;
    top: 150px;
    color: white;   
}