.div1{
    height: 300px;
    width: 300px;
    position: absolute;
    left: 40vw;
    top: 100px;
    background-color: grey;
}
.div2{
    height: 150px;
    width: 150px;
    background-color: black;
    position: absolute;
    left: 44vw;
    top: 175px;
}