.div1{
    width: 75vw;
    height: 300px;
    background-color: grey;
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: white;
}
.div2{
    width: 200px;
    height: 200px;
    background-color: black;
    position: absolute;
    left: 464px;
    bottom: 0px;
    color: white;
}
.div3{
    width: 200px;
    height: 200px;
    background-color: black;
    position: absolute;
    right: 0px;
    bottom: 100px;
    color: white;
}